*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
}

/* Hero */

.hero{

    height:420px;

    background:linear-gradient(135deg,#3498db,#2ecc71);

    display:flex;

    justify-content:center;

    align-items:center;

    color:white;

    text-align:center;
}

.hero h1{

    font-size:48px;

    margin-bottom:20px;
}

.hero p{

    width:70%;

    margin:auto;

    line-height:1.8;

    font-size:18px;
}

.hero button{

    margin-top:30px;

    padding:15px 35px;

    border:none;

    background:white;

    color:#2c3e50;

    font-size:18px;

    border-radius:6px;

    cursor:pointer;
}

/* Features */

.featured{

    padding:60px;
}

.featured h2{

    text-align:center;

    margin-bottom:40px;
}

.feature-grid{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:25px;
}

.feature-card{

    padding:30px;

    background:white;

    border-radius:10px;

    text-align:center;

    box-shadow:0 5px 15px rgba(0,0,0,.1);
}

.page-container{

    min-height:500px;

    padding:40px;
}



@media(max-width:900px){


    .feature-grid{

        grid-template-columns:1fr;
    }

    .hero h1{

        font-size:35px;
    }
}